<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books HW</title>
  </head>
  <body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="input" type="text" placeholder="Заголовок" name="book_title">
                <input class="input" type="text" placeholder="Подзаголовок" name="book_subtitle">
                <input class="input" type="text" placeholder="Описание" name="book_description">
                <input class="input" type="text" placeholder="Цена" name="book_price">
                <input class="input" type="text" placeholder="Жанр" name="book_genre">
                <input class="input" type="text" placeholder="Автор" name="book_author">
                <input class="input" type="text" placeholder="Год выхода книги" name="book_year">
                <input class="button" type="submit" value="Добавить книгу">
            </form>
        </div>
        <div class="book_container">
            {% for b in books_list %}
            <div class="book_item
            {% if b.is_favorites %}
                marked
            {% endif %}
            ">
                <h4>{{ b.title }}</h4>
                <h3>{{ b.subtitle }}</h3>
                <p>{{ b.author }}</p>
                <p>{{ b.genre }}</p>
                <p>{{ b.year }}</p>
                <p>{{ b.description }}</p>
                <p>{{ b.price }}</p>
                <p>{{ b.date }}</p>
                <div class="book_item_footer">
                    <div class="action_buttons">
                        {% if b.is_favorites %}
                        <a href="{% url 'unmark-book' b.id %}">
                            <img src="{% static './icons/unmarked.png' %}">
                        </a>
                        {% else %}
                        <a href="{% url 'mark-book' b.id %}">
                            <img src="{% static './icons/marked.png' %}">
                        </a>
                        {% endif %}
                        <a href="{% url 'delete-book' b.id %}">
                            <img src="{% static './icons/delete.png' %}">
                        </a>
                        <a href="{% url 'book' b.id %}">See more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </section>
</body>
</html>
